@import url(https://fonts.googleapis.com/css?family=Droid+Serif);
/* Above line is to import google font style */
*{
	margin:0px;
	padding:0px;
	font-family: arial;
}

button{
	background-color:#084B8A;
	color:white;
	width:188px;
	height:28px;
}
button:hover{
	background-color: #33a2b1;
}

.main{
float:left;
width: 650px;

}
.active{
color:#191d8a;
}
fieldset{
display:none;
width: 350px;
padding:20px;
margin-top:50px;
margin-left: 85px;
border-radius:5px;
box-shadow: 3px 3px 25px 1px gray;
}
#first{
display:block;
width: 350px;
padding:20px;
margin-top:50px;
border-radius:5px;
margin-left: 85px;
box-shadow: 3px 3px 25px 1px gray;
}
input[type=text],
input[type=password],
select{
width:90%;
margin:4px 0;
height:20px;
padding:5px;

}
textarea{
width:100%;
margin:10px 0;
height:70px;
padding:5px;
border: 3px solid rgb(236, 176, 220);
border-radius: 4px;
}
input[type=submit]{
width: 120px;
margin:15px 25px;
padding: 5px;
height: 40px;
background-color: #12942b;
border: none;
border-radius: 4px;
color: white;
font-family: 'Droid Serif', serif;	
}
input[type=button]{
width: 120px;
margin:15px 25px;
padding: 5px;
height: 40px;
background-color: #084b8a;
border: none;
border-radius: 4px;
color: white;
font-family: 'Droid Serif', serif;
}
h2,p{
text-align:center;
font-family: 'Droid Serif', serif;
}

/*menu horizontal*/

div#menuhorizontal{
	margin-top:15px;
	width:100%;
	height:8%;
	text-align:center;
}

ul#menu {
    padding: 0;
}

ul#menu li {
    display: inline;
}

ul#menu li a {
    background-color: #514f4f;
    color: white;
    padding: 6px 40px;
    text-decoration: none;
    border-radius: 4px 4px 4px 4px;
    font-family: Arial, Helvetica, sans-serif;
}

ul#menu li a:hover {
    background-color: #33a2b1;
}
/*End of Menu Horizontal*/
